#dashboardHeader {
  padding-top: 2%;
  font-family: Helvetica;
}

#currentTutHeader {
  font-family: Helvetica;
}

#contTutLink {
  float: right;
  font-size: 1.2em;
}

#availTutHeader {
  padding-top: 5%;
  font-family: Helvetica;
}

#availTutLink {
  font-size: 1.2em;
  font-family: Helvetica;
  margin-bottom: 1%;
}
/*-------------------------------------*/

#c2r1 {
  background-color: grey;
  padding-top: 1%;
}

#t {
  background-color: pink;
}

#l {
  background-color: blue;
}
