#inboxHeader {
  padding-top: 2%;
  font-family: Helvetica;
}

#composeBtn {
  width:70%;
  margin-left: 8%;
}

#adminPanelHeader {
  padding-top: 2%;
  font-family: Helvetica;
}

#search {
  padding-top: 2%;
}

#searchGrid {
  padding-top: 2%;
}

#composeModal {
  position: absolute;
  top: 40%;
}

#composeHeader {
  background-color: #ffffff;
}

#closeComposeModal {
  float: right;
  padding-right: 0%;
}

#recipient {
  width: 100%;
  padding: 1% 1% 1% 1%;
  border-radius: 8px;
}

#subject {
  width: 100%;
  padding: 1% 1% 1% 1%;
  border-radius: 8px;
}

#msg {
  width: 100%;
  padding: 1% 1% 1% 1%;
  border-radius: 8px;
}

#cancelBtn {
  float: right;
}

#sendBtn {
  float: left;
}

#msgModal {
  position: absolute;
}

#replyMailIcon {
  float: right;
  padding-right: 5%;
}

#closeMsgIcon {
  float: right;
  padding-right: 0%;
}

#closeReplyMsgIcon {
  float: right;
  padding-right: 0%;
}

#timeDateTag {
  font-size: 0.7em;
  font-weight: normal;
  float: right;
  padding-right: 3%;
}

#replyMailModal {
  position: absolute;
}

#replyMailTopic {
  border-top: none;
  border-left: none;
  border-right: none;
}

#senderEmailCon {
  font-size: 0.8em;
}

#adminEmailCon {
  font-size: 0.8em;
  padding-bottom: 1%;
}

.emailSub {
  font-size: 0.9em;
}

#msgBox {
  width: 100%;
  padding: 1% 1% 1% 1%;
  border-radius: 8px;
  resize: none;
}

#sendReplyBtn {
  float: right;
  margin-top: 1%;
  margin-bottom: 2%;
}
