#container {
  background-color: #212121;

}

#container {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  grid-template-columns: repeat(5, 20vmin);
  grid-template-rows: repeat(5, 20vmin);
}

#contactUsHeader {
  text-align: center;
  padding-top: 2%;
  font-family: Stencil;
  color: #ffffff;
}

#subHeader {
  text-align: center;
  padding-bottom: 2%;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
}

#emailHeader {
 padding-left: 32%;
 width: 100%;
 font-weight: bold;
 color: #BDBDBD;
}

#contactInfoHeader {
  padding-left: 20%;
  width: 100%;
  font-weight: bold;
  color: #BDBDBD;
}

#phoneNo {
  width: 100%;
}

.phoneNo {
  margin-top: 0%;
  color: #dddddd;
}

#phone {
  color: #ffffff;
}

#mailIcon {
  color: #dddddd;
}

#emailLink {
  color: #ffffff;
}

.contents {
  overflow: hidden;
  margin-right: 0px;
}

#nameField {
  width: 90%;
}

#emailField {
  width: 90%;
}

#msgInput {
  width: 87%;
}
